version: '3.8'

services:
  memo-to-ics:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: memo-to-ics
    ports:
      - "5321:5321"
    restart: unless-stopped
    networks:
      - apps_default

networks:
  apps_default:
    external: true
